h1 {
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  text-align: center;
}

th {
  font-family: fantasy;
}

img {
  height: 100px;
  width: 150px;
}

body {
  background-color: #a2a2d0;
}
